<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer.Core" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.bg" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.cs" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.da" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.de" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.el" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.es" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.fa" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.fi-FI" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.fr" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.fr-BE" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.he" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.hr" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.hu" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.hy" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.id" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.it" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.ja" version="2.10.1" targetFramework="net461" />
  <package id="Humanizer.Core.ko-KR" version="2.10.1" targetFramework="net461" />
</packages>